<div class="row">
  <div class="col-md-6 col-sm-6 col-sm-offset-4"> 
      Page 
      <a href="#" class="btn btn-sm default prev" title="Prev"><i class="fa fa-angle-left"></i></a>
      <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;">
      <a href="#" class="btn btn-sm default next" title="Next"><i class="fa fa-angle-right"></i></a>
      of <span class="pagination-panel-total"></span> 
      <label>
        <span class="seperator">|</span>View 
        <select name="datatable_orders_length" aria-controls="datatable_orders" class="form-control input-xsmall input-sm input-inline">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="150">150</option>
          <option value="-1">All</option>
        </select> records
      </label> 
    </div> 
</div>
    