<app-header></app-header>
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN CONTENT -->
  <!-- BEGIN SIDEBAR -->
  <app-side-bar></app-side-bar>
  <!-- END SIDEBAR -->
  <!-- BEGIN CONTENT -->
   <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
      <div class="page-content">
          <app-page-header></app-page-header>
          <router-outlet></router-outlet>
      </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->


